@import "vars";
@import "fonts";
@import "libs";

::placeholder {
  color: #666;
}

input {
  height: 62px;
  border: none;
  padding: 12px 28px;

  &::placeholder {
    color: #8995af;
  }

  &.error[class][class] {
    border: 1px solid red;
  }
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;

  input,
  textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

a:hover {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-family: "montserrat";
}

.h1 {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
  font-family: "montserrat";
}

h3 {
  font-size: 24px;
  line-height: 24px;
  padding: 40px 0 24px 0;
}

.list {
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .dot {
      background: #48CBF4;
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }
}

.btn-main {
  background: #8a4ae7;
  border-radius: 23.5px;
  padding: 10px 24px;
  white-space: nowrap;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  &:focus {
    outline: none;
  }

  &:hover {
    background: #6e2dcd;
    transition: 0.3s;
    color: #fff;
  }
}

.header {
  &__phone {
    padding-bottom: 8px;

    a {
      font-size: 20px;
      font-family: "montserrat";
      line-height: 100%;
      color: #fff;

    }

  }

  &__hours {
    font-size: 12px;
    line-height: 100%;
    color: #fff;
  }

  &__title {
    padding: 49px 0 73px 0;
    position: relative;
  }

  &__logo {
    border-right: 1px solid rgba(255, 255, 255, 0.3);

    a {
      display: flex;
    }

    span {
      font-size: 24px;
      line-height: 110%;
      color: #ffffff;
      margin-left: 20px;
      font-family: "montserrat";
    }
  }

  &__desc {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 120%;
  }

  [data-calc] {
    padding: 17px 31px 17px 55px;
    background: url(../img/calc-icon.svg) 23px center no-repeat, #e7eaef;

    &:hover {
      background: url(../img/calc-icon.svg) 23px center no-repeat, #CAD0DC;
      color: #1f242f;
    }


  }
}

.slider-block {

  &.inner-menu {
    height: auto;
    border-top: 1px solid rgba(31, 36, 47, .1);
    margin-bottom: 0px;

    .container {
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        background: rgba(31, 36, 47, .1);
        bottom: -26px;
        left: 0;
      }

    }

    .header__phone a {
      color: #1F242F;
    }

    .header__hours {
      color: #1F242F;
    }

    .menu-bottom li a {
      color: #1F242F;
    }

    .header__logo {
      border-right: 1px solid rgba(31, 36, 47, .3);
    }

    .header__desc {
      color: rgba(31, 36, 47, .5);
    }

    .header__logo span {
      color: #1F242F;

    }
  }

  &.inner-menu::before {
    background: transparent;
  }

  height: 680px;
  position: relative;
  margin-bottom: 100px;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    opacity: 0.6;
  }

  &__menu {
    padding: 26px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.slider {
  height: 500px;
  border-radius: 5px;

  &__form {
    height: 134px;
    background: #48cbf4;
    border-radius: 0 0 5px 5px;
    text-align: center;
    position: relative;
  }

  &__wrapper {
    height: 74%;

    .owl-carousel {
      height: 100%;
      position: relative;

      .owl-stage {
        position: relative;
        height: 100%;
        border-radius: 15px 15px 0 0;

        .owl-item {
          height: 100%;
          border-radius: 15px 15px 0 0;

          .item {
            height: 100%;
            border-radius: 15px 15px 0 0;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 15px 15px 0 0;
              background: linear-gradient(80.69deg, #f7cd9c 6.35%, rgba(180, 136, 247, 0) 94.3%);
            }

            &.custom p {
              width: 34%;
              left: 8%;
              font-size: 20px;
              line-height: 28px;
              text-align: left;
              color: #fff;
            }

            p {
              position: absolute;
              top: 67%;
              width: 100%;
              text-align: center;
              font-size: 24px;
              line-height: 28px;
            }

            &.custom h4 {
              color: #1F242F;
              width: 70%;
              white-space: normal;
              left: 43%;
              top: 34%;
              text-transform: initial;
              -webkit-text-fill-color: black;
              background: none;
            }

            h4 {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%);
              font-weight: 900;
              font-size: 56px;
              line-height: 56px;
              text-transform: uppercase;
              white-space: nowrap;

              background: linear-gradient(45deg, #911faa 33%, #f05ca2 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              color: #911faa;
            }
          }
        }
      }

      .owl-nav {
        position: absolute;
        top: 54%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .owl-prev {
          margin-left: 40px;
        }

        .owl-next {
          margin-right: 40px;
        }
      }

      .owl-dots {
        position: absolute;
        bottom: -29%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;

        .owl-dot {
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background: #fff;
          margin-right: 40px;
          border: 4px solid transparent;

          &.active {
            width: 10px;
            height: 10px;
            background: #1f242f;
            border: none;
          }
        }
      }
    }

  }
}

.form__text {
  font-size: 14px;
  line-height: 100%;
  color: rgba(31, 36, 47, 0.5);

  span {
    color: #fff;
    margin-left: 8px;
  }
}

.form-group {
  display: inline-block;
  display: inline-flex;
  transform: translateY(-50%);
  position: relative;
  z-index: 1;

  input {
    height: 62px;
    border: none;
    padding: 12px 28px;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:not(:last-child()) {

      border-right: 1px solid rgba(137, 149, 175, 0.4);
    }

    &::placeholder {
      color: #8995af;
    }
  }

  button {
    padding: 15px 48px;
    background: #8a4ae7;
    white-space: nowrap;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 20px;
    line-height: 32px;

    &:focus {
      outline: none;
    }

    &:hover {
      background: #6e2dcd;
      transition: 0.3s;
    }
  }
}


.owl-stage-outer {
  height: 100%;
}

.menu-bottom {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  &>li {
    position: relative;

    &:hover {
      .submenu {
        z-index: 100;
        visibility: visible;
        opacity: 1;
        transition: .3s;
      }
    }

    .submenu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 12px 0;
      top: 45px;
      z-index: 100;
      list-style-type: none;

      li {
        a {
          white-space: nowrap;
          display: inline-block;
          padding: 12px 20px;
          color: #1F242F;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            height: 40px;
            width: 4px;
            left: 0;
            top: 0;
            background: #48cbf4;
            opacity: 0;
          }


          &:hover {
            &::after {
              opacity: 1;
              transition: .3s;
            }

            text-decoration: none;
            color: #8A4AE7;
            transition: .3s;
          }
        }
      }
    }
  }


  li {
    a {
      display: inline-block;
      padding: 15px;
      font-size: 16px;
      line-height: 100%;
      color: #ffffff;
      white-space: nowrap;
      // position: relative;
      // z-index: 3;

      &:hover {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

.stock {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-family: "montserrat";
  font-size: 24px;
  line-height: 32px;
  padding: 5px 15px;
  background: #F15DA2;
  border-radius: 6px;
  color: #fff;
}

.item.custom .stock {
  top: 16%;
  left: 13%;
}

.top-menu {
  &>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &>li {
      position: relative;
      padding: 13px 0;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 39px;
        z-index: 2;
        top: 19px;
        left: 0;
      }

      &:hover {
        .submenu {
          z-index: 100;
          visibility: visible;
          opacity: 1;
          transition: .3s;
        }
      }

      .submenu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 12px 0;
        top: 57px;
        list-style-type: none;



        li {
          &.active {
            a::after {
              opacity: 1;
            }
          }

          a {
            white-space: nowrap;
            display: inline-block;
            padding: 12px 20px;
            position: relative;

            &:hover {
              &::after {
                opacity: 1;
                transition: .3s;
              }
            }

            &::after {
              content: "";
              position: absolute;
              height: 40px;
              width: 4px;
              left: 0;
              top: 0;
              background: #48cbf4;
              opacity: 0;
            }
          }
        }
      }
    }

    &>li {
      &.active {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          top: 0;
          height: 3px;
          background: #48cbf4;
        }
      }

      a {
        font-family: "raleway-semi-bold";
        font-size: 16px;
        line-height: 100%;
        color: #1f242f;
        position: relative;
        z-index: 3;
        padding: 16px;

        &:hover {
          text-decoration: none;
          color: #8A4AE7;
          transition: .3s;
        }
      }
    }
  }
}

.wrapper-mobile-menu {
  display: none;
}

.mobile-menu {
  &__calc-btn {
    background: rgba(137, 149, 175, 0.2);

    a {
      img {
        margin-right: 32px;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .phone {
      font-family: "montserrat";
      font-size: 20px;
      line-height: 100%;
      color: #1f242f;
      padding: 40px 0 8px 0;
    }

    button {
      margin: 22px 0 32px 0;
    }
  }

  &__items {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: #fff;
    display: none;

    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      ul {
        display: none;

        li {
          border: none
        }
      }

      .submenu {}

      li {
        padding: 16px 24px;
        border-bottom: 1px solid rgba(137, 149, 175, 0.2);
        position: relative;

        &>img {
          position: absolute;
          right: 43px;
          top: 11px;
          border: 11px solid transparent;
          cursor: pointer;
        }

        a {
          font-size: 16px;
          color: #1f242f;
        }
      }
    }
  }
}

.advantages {
  padding: 160px 0 48px 0;
  border-bottom: 1px solid rgba(137, 149, 175, 0.2);

  &__item {
    display: flex;
    align-items: center;

    img {
      margin-right: 17px;
    }

    span {
      font-size: 16px;
      line-height: 24px;
      color: #1f242f;
    }
  }
}

.tabs-product {
  padding: 86px 0 80px 0;

  .tab-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 54px;
  }

  .tab-title li {
    cursor: pointer;
    position: relative;
    font-family: "montserrat";
    font-size: 32px;
    line-height: 39px;
    color: #8995af;
  }

  .tab-title li:hover {}

  .tab-title li.active {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #1f242f;

    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background: #8a4ae7;
      bottom: -8px;
      left: 0;
    }
  }

  .tab-content {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: none;
      text-align: center;
      padding: 5px;
      margin: 10px;
    }
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 40px 40px 80px 40px;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__img {
    max-width: 200px;
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'montserrat';
    font-size: 24px;
    line-height: 29px;
    color: #1f242f;
    padding-bottom: 8px;
  }

  &__price {
    font-family: 'montserrat';
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #1F242F;
    padding-bottom: 24px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    color: #8995AF;
  }

  &:hover {
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    transition: 0.3s;

    .product-item__link {
      opacity: 1;
      transition: .3s;
    }
  }

  &__link {
    display: flex;
    opacity: 0;

    span {
      font-size: 16px;
      color: #48CBF4;
      position: absolute;
      right: 100px;
      bottom: 16px;
    }

    a {
      width: 137px;
      height: 137px;
      background: #48cbf4;
      border-radius: 50%;
      position: absolute;
      bottom: -80px;
      right: -58px;

      img {
        top: 24px;
        position: absolute;
        left: 39px;
      }
    }
  }
}

.submit {
  padding: 40px 0 80px 0;

  &__wrapper {
    border: 10px solid rgba(137, 149, 175, .2);
    padding: 80px 0;
  }

  &__wrapper.inner {
    margin: 64px 0 80px 0;
  }

  &__title {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #1F242F;
    padding-bottom: 32px;
  }

  &__tel {
    font-family: 'montserrat';
    font-size: 40px;
    line-height: 100%;
    text-align: center;
    color: #1F242F;
    padding-bottom: 32px;
  }

  &__desc {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1F242F;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 48px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 12px 48px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    background: #8A4AE7;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__btn-wrapper {}
}

.footer {
  &__menu {
    background: rgba(137, 149, 175, .1);
    padding: 48px 0 64px 0;
  }

  &__bottom {
    padding: 40px 0;

    .social {
      display: flex;
      justify-content: flex-end;
      padding-top: 16px;

      a {
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    .adres {
      font-size: 14px;
      line-height: 20px;
      text-align: right;
    }

    .tel {
      font-family: 'montserrat';
      font-size: 20px;
      line-height: 100%;
      padding-bottom: 8px;
      text-align: center;
    }

    .day {
      font-size: 12px;
      line-height: 100%;
      color: #8995AF;
      text-align: center;
    }

    .company-info {
      font-size: 14px;
      line-height: 20px;
      color: #8995AF;
      padding-bottom: 12px;
    }

    .promotion {
      font-size: 14px;
      line-height: 20px;
      color: #1F242F;

      a {
        color: #1F242F;
      }
    }

    .confidentiality {
      padding-bottom: 12px;

      a {
        font-size: 14px;
        line-height: 20px;
        color: #48CBF4;
        text-decoration: none;
      }

    }
  }
}

.footer-menu {
  &__title {
    font-family: 'raleway-bold';
    font-size: 18px;
    line-height: 32px;
    color: #1F242F;
    padding-bottom: 24px;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li>a {
      font-size: 16px;
      line-height: 32px;
      color: #1F242F;
    }
  }
}


.categories {
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(137, 149, 175, .2);


  &__item {
    padding: 30px;
    height: 280px;
    margin-bottom: 30px;
    background-size: 100% 100%;
  }

  &__title {
    font-family: 'montserrat';
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    width: 50%;

  }
}

.title-style {
  font-family: 'montserrat';
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  position: relative;
  margin-bottom: 56px;

  &::before {
    content: "";
    position: absolute;
    width: 15%;
    bottom: -16px;
    background: #8a4ae7;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.work-performed {
  padding: 96px 0 44px 0;

  .owl-carousel {
    position: relative;

    .owl-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;

      .owl-prev {
        margin-left: -44px;
      }

      .owl-next {
        margin-right: -44px;
      }
    }
  }
}

.our-installers {
  padding-bottom: 96px;

  .owl-carousel {
    position: relative;

    .owl-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;

      .owl-prev {
        margin-left: -44px;
      }

      .owl-next {
        margin-right: -44px;
      }
    }
  }

  &__item {
    .photo {
      background: url(../img/Polygon.svg) no-repeat;
      height: 322px;
    }

    .fio {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #1F242F;
      padding: 20px 0;
    }

    .skills {
      background: #48cbf4;
      border-radius: 3px;
      padding: 6px 14px;
      width: 100%;
      height: 32px;
      font-family: montserrat;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: #fff;
    }
  }
}

.free-call {
  padding: 125px 0;
  background: url('../img/bg-free-call.jpg') no-repeat;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270.31deg, #FFFFFF 1.2%, rgba(255, 255, 255, 0) 99.4%);
    opacity: 0.9;
  }

  .form-group {
    display: block;
    transform: inherit;
    padding: 32px 0;

    .row {
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
  }

  .form__text {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgba(31, 36, 47, .5);

    a {
      margin-left: 10px;
      color: #8A4AE7;
    }
  }

  h2 {
    text-align: center;
    font-size: 40px;
    position: relative;
    z-index: 1;
  }

  .subtitle {
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

.table-slider {
  padding: 80px 0;

  .owl-nav {
    position: absolute;
    top: 13%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .owl-prev {
      margin-left: 10px;
    }

    .owl-next {
      margin-right: 10px;
    }
  }
}

.table-slider-component {
  padding: 80px 0;

  &__content {
    position: absolute;
    top: 43px;
    font-family: raleway-bold;
    font-size: 16px;
    line-height: 24px;
  }
}

.product-carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;


  &__image {
    max-width: 85px;
    padding-bottom: 24px;
  }

  &__title {
    font-size: 16px;
    line-height: 19px;
  }

  &__price {
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0 30px 0;
  }

  &__option {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.gray {
      background: rgba(137, 149, 175, .1);
    }

    img {
      width: 16px !important;
      margin-right: 6px;
    }
  }
}

.options-desc {
  display: flex;
  flex-direction: column;
  margin-top: 216px;

  &__option {
    padding-left: 10px;
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;

    &.gray {
      background: rgba(137, 149, 175, .1);
    }
  }
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none !important;
}

.modal {
  border-radius: 7px;
  padding: 56px 48px;

  &__title {
    text-align: center;
    font-family: "raleway-bold";
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 32px;
  }

  &__agreement {
    font-size: 14px;
    line-height: 100%;
    color: rgba(31, 36, 47, .5);
    padding: 16px 0 8px 0;
  }

  a {
    font-size: 14px;
    line-height: 100%;
    color: #8A4AE7;
    text-align: center;
    padding-bottom: 24px;

    &:hover {
      color: #8A4AE7;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
      border-radius: 3px;
      border: none;
      margin-bottom: 16px;
      height: 40px;
      padding: 12px 16px;
    }
  }
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

/* preloader */
#preloader {
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  z-index: 9999;
  display: block;
  transition: all 600ms ease-out;
  opacity: 1;
}

#preloader.hid {
  opacity: 0;
  visibility: hidden;
}

#preloader table {
  width: 100%;
  height: 100%;
}

#preloader table td {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.load8 .loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  height: 8em;
  background: url(../img/preloader.gif) center no-repeat;
}

/* /. preloader */

.error {
  &__wrapper {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
  }

  &__desc {
    text-align: center;
  }

  &__img-block {
    font-family: montserrat;
    font-size: 80px;
    line-height: 98px;
    display: flex;
    align-items: baseline;
  }
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 16px 0;

  li {
    margin-right: 43px;
    font-size: 14px;
    line-height: 100%;
    color: #8995AF;
    a {
      font-size: 14px;
      line-height: 100%;
      color: #8995AF;
      position: relative;

      &:hover {
        color: #8a4ae7;
        transition: .3s;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 9px;
        top: 4px;
        right: -27px;
        background: url(../img/bredcrumbs.svg) no-repeat;
      }
    }
  }
}

.inner-title {
  font-size: 40px;
  line-height: 52px;
  position: relative;
  margin-bottom: 84px;
  &::before {
    content: "";
    position: absolute;
    width: 128px;
    bottom: -16px;
    background: #8a4ae7;
    height: 4px;
    left: 0;
  }
}

.work-performed {
  h2 {
    font-size: 38px;
line-height: 46px;
margin-bottom: 30px;
  }
}


@import "media"; // Always at the end